doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/jquery-ui-11.1.2.min.js')
    script(type='text/javascript', src='/load.js')
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport")
  body
    block content