body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: #fefaea;
}
.question {
  position: relative;
  background-color: rgba(197, 197, 197, 0.85);
  width: calc(100% - 100px);
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
  height: 500px;
  margin-bottom: 50px;
}
.question img {
  margin-bottom: 15px;
}
.questionText {
  font-size: 16px;
  font-weight: bold;
}
.answerbox {
  width: 60%;
  padding: 5px 5px 3px 5px;
}
.answerbox.a,
.answerbox.c {
  background-color: rgba(221, 221, 221, 0.55);
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + label {
  width: calc(100% - 25px);
}
input[type='checkbox'] + label:before {
  background-image: url('../images/checkbox.png');
  background-repeat: no-repeat;
  background-position: 0 1px;
  width: 25px;
  height: 16px;
  display: inline-block;
  content: "";
}
input[type='checkbox']:checked + label:before {
  background-position: 0 -24px;
}
button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  background-color: #5583f8;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
button.next {
  display: none;
}
span.correct {
  font-size: 16px;
  font-weight: bold;
}
.clear {
  clear: both;
}
@media (max-width: 767px) {
  body {
    padding: 30px 20px;
  }
  .question {
    width: calc(100% - 50px);
    margin-bottom: 30px;
  }
  .answerbox {
    width: 100%;
  }
}
