body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}
.question {
  position: absolute;
  background-color: #c5c5c5;
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
  height: 500px;
}
.questionText {
  font-size: 16px;
  font-weight: bold;
}
.answerbox {
  width: 60%;
  padding: 5px;
}
.answerbox.a,
.answerbox.c {
  background-color: #ddd;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + label {
  background-image: url('../images/checkbox.png');
  background-repeat: no-repeat;
  background-position: 0 1px;
  padding-left: 25px;
  width: calc(75%);
  display: inline-block;
}
input[type='checkbox']:checked + label {
  background-position: 0 -24px;
}
button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  background-color: #5583f8;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
button.next {
  display: none;
}
span.correct {
  font-size: 16px;
  font-weight: bold;
}
.clear {
  clear: both;
}
